<div class="be-wrapper be-login">
  <div class="be-content">
    <div class="main-content container-fluid">
      <div class="splash-container">
        <div class="card card-border-color card-border-color-primary">
          <div class="card-header">
            <img src="assets/img/logo-xx.png" alt="logo" width="102" height="27" class="logo-img">
            <span class="splash-description">{{ 'CMT.LOGIN.DESCREPTION' | translate }}</span>
          </div>
          <div class="card-body">
            <form action="index.html" method="get">
              <div class="form-group">
                <input id="username" type="text" [placeholder]="'COM.TITLE.USERNAME' | translate" autocomplete="off" class="form-control">
              </div>
              <div class="form-group">
                <input id="password" type="password" [placeholder]="'COM.TITLE.PASSWORD' | translate" class="form-control">
              </div>
              <div class="form-group row login-tools">
                <div class="col-6 login-remember">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input">
                    <span class="custom-control-label">{{ 'CMT.LOGIN.REMEMBER_ME' | translate }}</span>
                  </label>
                </div>
                <div class="col-6 login-forgot-password">
                  <a href="pages-forgot-password.html">{{ 'CMT.LOGIN.FORGET_PWD' | translate }}</a>
                </div>
              </div>
              <div class="form-group login-submit">
                <button data-dismiss="modal" type="submit" class="btn btn-primary btn-xl">{{ 'BTN.SUBMIT' | translate }}</button>
              </div>
            </form>
          </div>
        </div>
        <div class="splash-footer">
          <span>Don't have an account?
            <a href="pages-sign-up.html">{{ 'BTN.REGISTE' | translate }}</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
