<!-- <div class="c-login-wrapper animated fadeIn">
  <div class="d-flex justify-content-center c-login-container">
    <div class="card c-login-box">
      <div class="card-body">
        <div class="text-center c-login-header">
          <img src="assets/img/logo.png" class="rounded-circle" />
          <h3 class="card-title" style="display:inline">{{'LBL.SITENAME' | translate}}</h3>
        </div>
        <hr/>
        <form [formGroup]="loginForm">
          <div class="form-group row">
            <div class="col-12">
              <input class="form-control " type="text" formControlName="userName" placeholder="{{'LBL.TIPS.USERNAME' | translate}}">
              <div *ngIf="loginForm.get('userName').touched">
                <div class="c-validator-invalid" *ngIf="loginForm.get('userName').hasError('required')">
                  {{ 'MSG.ERROR.REQUIRED' | translate | replace:true:'LBL.NAMES.USERNAME' }}
                </div>
                <div class="c-validator-invalid" *ngIf="loginForm.get('userName').hasError('maxlength')">
                  {{ 'MSG.ERROR.MAXLENGTH' | translate | replace:true:'LBL.NAMES.USERNAME':'15' }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-12">
              <input class="form-control" type="password" formControlName="password" placeholder="{{'LBL.TIPS.PASSWORD' | translate}}">
              <div *ngIf="loginForm.get('password').touched">
                <div class="c-validator-invalid" *ngIf="loginForm.get('password').hasError('required')">
                  {{ 'MSG.ERROR.REQUIRED' | translate | replace:true:'LBL.NAMES.PASSWORD' }}
                </div>
                <div class="c-validator-invalid" *ngIf="loginForm.get('password').hasError('maxlength')">
                  {{ 'MSG.ERROR.MAXLENGTH' | translate | replace:true:'LBL.NAMES.PASSWORD':'15' }}
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-12">
              <button type="submit" class="btn c-not-shadow" [disabled]="!loginForm.valid" (click)="login();">{{'ELE.BTN.SUBMIT' | translate}}</button>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-12 text-right">
            <a href="#">{{'ELE.LINK.FORGET_PWD' | translate}}</a>
          </div>
        </div>
        <div class="row c-copy-right">
          <div class="col-12 text-center">
            <p>{{'LBL.COPYRIGHT' | translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<article>
  <header>
    <h1>Title</h1>
    <p>publish:<time>2018/05/11</time></p>
  </header>
  <p>This is Really Content.</p>
  <footer>
    <small>COPYRIGHT</small>
  </footer>
</article>

<article>
  <h1>My Fruit Spinner</h1>
  <object>
    <param name="allowFullScreen" value="true">
    <embed src="#" width="600" height="395">
  </object>
</article>